body {
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
    font-family: sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px 0;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: #131A22;
}

#comparison-table {
    margin-top: 20px;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

}

table th,
table td {
    border: 1px solid rgba(35, 47, 62, 0.56);
    padding: 10px;
    text-align: center;
    font-size: large;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: larger;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: rgba(254, 189, 105, 0.72);
}

/* Button Styles */
button {
    background-color: #febd69;
    color: #232F3E;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: medium;
}

#search-button:hover,
#search-history-btn:hover,
button:hover {
    background-color: #ef8905;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #febd69;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

header {
    background-color: #232F3E;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}


.amazon-logo {
    height: 40px;
}

.navbar-search {
    display: flex;
    align-items: center;
    height: 50px;
}

#search-input {
    width: 200px;
    padding: 5px 10px;
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: large;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.modal-content h1, h2{
    background-color: #febd69;
    color: #232F3E;
}

